*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}

body{
    background-image: url(../img/blob-scene-haikei.svg);
    user-select: none;
}
/* uitility classes */

.pointer{
    cursor: pointer;
}

/* img */
.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px 0px;
    height: 700px;
}

.img{
    max-width: 80%;
    max-height: 600px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.7);
}

.carousel__img{
    display: none;
    justify-content: center;
}

.active{
    display: flex;
}

.slide{
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.circle{
    background-color: rgba(0, 0, 0, 0.4);
    aspect-ratio: 1;
    border-radius: 50%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* thumbnail */

.row{
    display: flex;
}

.col{
    flex-basis: calc(100% / 5);
}

.image-brightness{
    filter: brightness(0.3);
}

.col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail{
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.7);
}

.cat-img{
    object-position: right;
}

/* thumbnail opacity */

.brightness-1{
    filter: brightness(1);
}